.encima-tabla {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.barra-busqueda{
    width: 67%;
}

.buscar-por{
    padding-left: 0.375rem;
    padding-right: 0.375rem;
    width: 23%;
}

.ordenar-por{
    padding-left: 0.375rem;
    padding-right: 0.6rem;
}

.ordenar-por-group{
    padding-left: 0.375rem;
    width: 100%;
    display: flex;
}

.header-formulario{
    margin-bottom: 2rem;
}

.guardar-cancelar{
    padding-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    width: 13rem;
}

.zona-mostrar{
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    display: block;
    background-color: #f5f5f5;
    border-style: solid;
    border-width: thin;
    border-color: #cbcbcb;
    border-radius: 10px;
    width: 100%;

}

.atributo-mostrar{
    line-height: 0.5rem;
    padding-bottom: 1rem;

}

.nombre-atributo{
    font-weight: 300;
    color: var(--gray-dark);
}

.atributo{
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.2rem;
}

.boton-modificar-mostrar {
    float: right;
    position: relative;
    bottom: 4rem;
    padding-right: 2rem;
}

.texto-boton{
    color: white;

}

.texto-boton:hover{
    color: white;
    text-decoration: none;
}

.titulo-cabecera{
    display: flex;
    justify-content: space-between;
}

.boton-volver{
    margin-top: 1.6rem;
}

.radio{
    padding-left: 0.5rem;
    color: #495057;
}

.cuadro-exito{
    background-color: #5ce49c;
    border-style: none;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    display: flex;
    width: fit-content;
    width: -moz-fit-content;
    height: fit-content;
    height: -moz-fit-content;
}

.texto-exito{
    font-weight: 500;
    color: rgba(14, 90, 29, 0.78);
}

.cuadro-advertencia{
    background-color: #ffe06e;
    border-style: none;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    display: flex;
    width: fit-content;
    width: -moz-fit-content;
    height: fit-content;
    height: -moz-fit-content;
}

.texto-advertencia{
    font-weight: 500;
    color: #79631fc7;
}

.cuadro-error{
    background-color: #ff747c;
    border-style: none;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    width: fit-content;
    width: -moz-fit-content;
    height: fit-content;
    height: -moz-fit-content;
}

.texto-error{
    font-weight: 500;
    color: rgba(115, 26, 31, 0.78);
    padding-left: 0.5rem;
    padding-right: 0.2rem;
}

.boton-tabla{
    color: #007bff;
    background-color: transparent;
    border-color: transparent;
    width: max-content;
}

.boton-tabla:hover{
    color: #0069d9;
    background-color: #cbcbcb;
    border-color: #cbcbcb;
}

.texto-boton-tabla{
    color: #007bff;
}

.material-icons.icono-modificar-tabla{
    font-size:18px;
    color:#007bff;
}

.container-formularios{
    width: 70%;

}

.material-icons.icono-modificar{
    font-size: 19px;
    vertical-align: sub;
}

.sin-informacion{
    font-style: italic;
    font-weight: 300;
    color: grey;
}

.ui-autocomplete{

}

